<div class="container">

    <div class="title">
        <p>TITULO</p>
    </div>

    <div class="turns">
        <p>TURNOS</p>
    </div>

    <div class="specialists">
        <p>ESPECIALISTAS</p>
    </div>

    <div class="specialities">
        <p>ESPECIALIDADES</p>
    </div>

</div>

<!--

<div class="horizontal" align="center">
    <div *ngFor="let especialista of listadoEspecialistas">
        <button mat-fab (click)="especialistaSeleccionado(especialista.nombre, especialista.apellido, especialista.especialidad)">
            <img appButtonStyle
            src={{especialista.imagen1}}>
        </button>
    </div>
</div>

<div align="center" *ngIf="creandoTurno === true" class="row">
    <h3 appFontStyle>Proximas 15 fechas disponibles</h3>
    <div *ngFor="let fecha of fechasDisponibles; let i = index" class="container">

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 8000)">{{fecha | dateFormatter: 8}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 9000)">{{fecha | dateFormatter: 9}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 10000)">{{fecha | dateFormatter: 10}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 11000)">{{fecha | dateFormatter: 11}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 12000)">{{fecha | dateFormatter: 12}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 13000)">{{fecha | dateFormatter: 13}}</button>
        
        <div *ngIf="diasDisponibles[i] != 'sabado'">
            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 14000)">{{fecha | dateFormatter: 14}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 15000)">{{fecha | dateFormatter: 15}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 16000)">{{fecha | dateFormatter: 16}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 17000)">{{fecha | dateFormatter: 17}}</button>

            <button mat-raised-button color="primary"
            (click)="elegirHorario(i, 18000)">{{fecha | dateFormatter: 18}}</button>
        </div>
    </div>

</div>

-->
