.container{
  display: grid;
  
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto, auto, auto;
  grid-template-areas: 
    "title title"
    "turns specialities"
    "turns specialists"
}

.title{
  background-color: lawngreen;
}

.turns{
  background-color: lightcoral;
}

.specialities{
  background-color: lightsalmon;
}

.specialists{
  background-color: lightslategray;
}