
<h1 class="title" align="center"> BIENVENIDO </h1>

<section class="access_cards">

    <card
    imgSource="../../../assets/Iconos/register.png"
    cardTitle="Si aun no tienes una cuenta, registrate aquí"
    cardParagraph="Podras acceder a tus turnos, historial medico y estadisticas de tus consultas"
    buttonText="Descubre nuestros beneficios"
    buttonLink="/registro">    
    </card>

    <card
    imgSource="../../../assets/Iconos/login.png"
    cardTitle="Si ya tienes una cuenta, inicia tu sesión y comienza tus consultas"
    cardParagraph="Sigue el estado de tus turnos, califica la atención recibida y dejanos tus comentarios para seguir mejorando nuestro servicio"
    buttonText="Quiero iniciar sesión"
    buttonLink="/login">    
    </card>

</section>
