div.scroll {
    background-color: #7ecde6;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
  
/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}
  
/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}
  
/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
  
/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }