<table>
    <tr>
        <th>Imagen de Perfil</th>
        <th *ngIf="usuario.tipo === 'paciente'">Imagen de perfil 2</th>
        <th>Nombre </th>
        <th>Apellido </th>
        <th>Edad </th>
        <th>DNI </th>
        <th>Email </th>
    </tr>
    <tr>
        <td>
            <img src={{usuario.imagen1}} width="50px">
        </td>
        <td *ngIf="usuario.tipo === 'paciente'">
            <img src={{usuario.imagen2}} width="50px">
        </td>
        <td> {{usuario.nombre}}</td>
        <td> {{usuario.apellido}}</td>
        <td> {{usuario.edad}}</td>
        <td> {{usuario.DNI}}</td>
        <td> {{usuario.email}}</td>
    </tr>
</table>
  